{# Row Nota #}
{%- set hue = hue|default('green') -%}
{%- set _attrs = attributes|default(create_attribute()).addClass(['post', 'post--nota']).setAttribute('href', href|default('#')) -%}
<a{{ _attrs }}>
  <div class="post__thumb post__thumb--{{ hue }}">
    {%- if glyph -%}
      {% include 'byte:icon' with {
        name: glyph,
        size: 22,
        decorative_class: 'post__glyph',
      } only %}
    {%- endif -%}
  </div>
  {%- if date %}<div class="post__date mono">{{ date }}</div>{% endif -%}
  <div class="post__main">
    {%- if title %}<h3 class="post__title">{{ title }}</h3>{% endif -%}
    {%- if excerpt %}<p class="post__excerpt">{{ excerpt }}</p>{% endif -%}
  </div>
  {%- if category %}<div class="post__cat mono">{{ category }}</div>{% endif -%}
  {%- if read_time %}<div class="post__read mono">{{ read_time }}</div>{% endif -%}
</a>
